<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699793743565-bbss4g5c8n92s632inbjqf6lglpa2j20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699793743565-bbss4g5c8n92s632inbjqf6lglpa2j20</string>
	<key>API_KEY</key>
	<string>AIzaSyCTAAedQlfBrL4xCbINXENA8aqfc4t1pDM</string>
	<key>GCM_SENDER_ID</key>
	<string>699793743565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>netology.Navigation-</string>
	<key>PROJECT_ID</key>
	<string>navigation-a6248</string>
	<key>STORAGE_BUCKET</key>
	<string>navigation-a6248.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699793743565:ios:e04bb195d4516687c15384</string>
</dict>
</plist>